/** @format */
body {
    background-color: rgb(255,255,255);
}


* {
    padding: 0;
    margin: 0;
}


.article-section {
    margin: 100px;
}

.article-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  /* border: 5px solid pink; */
  gap: 20px;
  row-gap: 20px;
}

.blog-card {
  /* border: 10px solid orangered; */
}

.img-container {
  width: 100%;
  height: 250px;
  /* border: 2px solid green; */
}

.blog-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.blog-content {
  display: grid;
  padding: 20px 20px 50px 20px;
  /* border: 5px solid orange; */
  background-color: white;
}

/* .blog-content-container {
    padding: 20px;
} */

.blog-date {
  font-size: 15px;
  color: gray;
  font-weight: 300;
}

.blog-title {
    margin-bottom: 20px;
    color: #404040;

}

.blog-title:hover {
  color: orange;
  transform: 0.14ms ease;
  cursor: pointer;
}

.read-more-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.read-more a{
  color: ;
}

.icon {
}


.page-number-container {
    margin: 100px;
}

.read-more-container a {
  color: #404040;
  font-size: 14px;
  font-weight: 300;
}

.page-number-container ul {
    display: flex;
    justify-content: center;
    gap: 5px;
    list-style: none;
}

.page-number-container ul li {
  

}

.page-number-container ul li a {
    color: orange; 
    font-size: 16px;
    padding: 10px 15px;
    border-radius: 50%;
    border: 1px solid gray;
}

#blog-page-active {
    color: white;
    background-color: orange;
    border: none;
}